* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 1680px;
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  min-height: 100vh;
  background-color: #e77171;
}